@import url('header.css');

body, html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

.opcUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saludo {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.formulario {
    margin: 10px 10px 10px 10px;
}

.carrito {
  margin: 20px 10px 10px 10px;
}

.buscar {
  text-align: center;
  margin: 30px 30px 30px 30px;
}

.card-img-top {
  width: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 20px;
}

img {
  margin: 5px;
}

.secciones {
  background-color: rgb(203, 221, 209);
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}

.secciones div {
  display: flex;
  flex-direction: column;
}

.secciones h6 {
  font-size: 20px;
  font-weight: bold;
  color: #004d47;
}

.copyright {
  text-align: center;
  padding-bottom: 5px;
}