body {
  padding-bottom: 50px; 
}

.footer {
    position: fixed!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    width: 100% !important;
    height: 50px;
    padding: 20px;
  }
  
  img {
    margin: 5px;
  }
  
  .secciones {
    background-color: rgb(203, 221, 209);
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }
  
  .secciones div {
    display: flex;
    flex-direction: column;
  }
  
  .secciones h6 {
    font-size: 20px;
    font-weight: bold;
    color: #004d47;
  }
  
  .copyright {
    text-align: center;
    padding-bottom: 5px;
  }