* {
    padding: 0px;
    margin: 0px;
}

.container img {
    height: 300px;
    width: 300px;
    margin-left: 20px;
    display: inline-block;
}

.container {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cont {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

form {
    padding: 15px 0 15px 0;
    margin: 0 800px 0 820px;
}

h1 {
    text-align: center;
    margin-top: 15px 15px 15px 15px;
    font-size: 30px;
}

input[type="email"], input[type="texto"],
input[type="password"] {
  margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: rgb(117, 185, 141);
  }